{% extends 'base.html.twig' %}

{% block title %}Features{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Feature</h1>
    <div class="list-group">
        <a href="{{ path('feature', {'id': feature.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ feature.name }}</h5>
            <small>created at : {{feature.createdAt | date('d/m/Y')}}</small>
            </div>
            <p class="mb-1">{{ feature.description }}</p>
        </a> 
    </div>
</div>
{% endblock %}