{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div>
        <img src="{{ url_home_img }}" class = "image-strip" />
    </div>

    <div class="example-wrapper img-fluid" alt="Responsive image">
        <h1>Welcome {{ username }}</h1>
    </div>
{% endblock %}
