<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">{{ pet.idRace }}</div>
  <div class="card-body">
    <h4 class="card-title">{{ pet.name }}</h4>
    <p class="card-text">{{ pet.description}}</p>
    <small class="text-muted">{{ pet.gender}}</small>
  </div>
</div>